<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="ml-4">{{ title }}</span>
  <span class="toolbar-spacer"></span>
	<span flex></span>  
</mat-toolbar>
<mat-drawer-container class="layout-container" [hasBackdrop]="true">
  <mat-drawer class="layout-sidenav pl-0" #drawer [mode]="'side'">
    <mat-list>
      <mat-list-item
        *ngFor="let menuItem of menuItems"
        [routerLink]="[menuItem.url]"
        [routerLinkActive]="['text-accent']"
        (click)="drawer.toggle()"
        class="cursor-pointer text-primary pl-0 ml-0"
      >
       
        <mat-icon mat-list-icon>{{menuItem.icon}}</mat-icon>
        <div class="menu-item ml-3" mat-line>{{ menuItem.label }}</div>
      
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="layout-sidenav-content">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
